.main-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  height: 10%;
}

.nav-bar {
  height: 20px;
  width: 100%;
  text-align: center;
  overflow; hidden;
  background-color: #000000;
}

.nav-bar-link {
  float: center;
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
