.main-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  margin-left: 5%;
  height: 10%;
}

.nav-bar {
  display: block;
  overflow: hidden;
  background-color: #000000;
  margin: 0 auto;
  width: 100%;
  height: auto;
  text-align: center;
}

.nav-link a {
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 12px 20px;
}

.nav-link a:hover {
  color: #d1de44;
}

#greyBox {
  display: block;
  text-align: center;
  height: 50%;
  background-color: #aaaaaa;
}

#photo1 {
  height: 80%;
  position: relative;
  top: 10%;
}
