body {
  font-family: sans-serif;
}

.main-container {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  margin-left: 5%;
  height: 10%;
}

.nav-bar {
  display: block;
  overflow: hidden;
  background-color: #000000;
  margin: 0 auto;
  width: 100%;
  height: auto;
  text-align: center;
}

.nav-link a {
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 12px 20px;
}

.nav-link a:hover {
  color: #d1de44;
}

#greyBox {
  display: block;
  text-align: center;
  height: 50%;
  background-color: #aaaaaa;
}

#photo1 {
  height: 80%;
  position: relative;
  top: 10%;
}

h1 {
  font-size: 24px;
}

.left {
  position: relative;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 5%;
  display: inline-block;
  width: 30%;
}

#photo2 {
  width: 100%;
  vertical-align: top;
}

.mid {
  position: relative;
  margin-left: 5%;
  display: inline-block;
  width: 30%;
}

#photo3 {
  width: 100%;
  vertical-align: top;
}

.right {
  position: relative;
  margin-left: 2%;
  display: inline-block;
  width: 20%;
}

#SideBar {
  background-color: #dddddd;
}

#SideBarHeader {
  text-align: center;
  vertical-align: top;
}

.footer {
  display: block;
  overflow: hidden;
  background-color: #000000;
  margin: 0 auto;
  width: 100%;
  height: auto;
  text-align: center;
}

.footer a,span {
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 10px;
  color: #aaaaaa;
  padding: 20px 14px;
}
