body {
  font-family: sans-serif;
  border: 2px solid #000000;
}

.main-container {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.head-logo {
  width: 20%;
  margin-left: 5%;
}

#logo {
  width: 100%;
}

.head-button {
  display: none;
}

.full-nav-bar {
  display: block;
  overflow: hidden;
  background-color: #000000;
  margin: 0 auto;
  width: 100%;
  height: auto;
  text-align: center;
}

.nav-link a {
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 12px 16px;
}

.nav-link a:hover {
  color: #d1de44;
}

#greyBox {
  display: block;
  text-align: center;
  height: auto;
  background-color: #aaaaaa;
}

#photo1 {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
  top: 10%;
  border: 2px solid #ffffff;
}

h1,h2 {
  font-size: 20px;
}

.left {
  vertical-align: top;
  position: relative;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 5%;
  display: inline-block;
  width: 25%;
}

#photo2 {
  width: 100%;
}

.mid {
  vertical-align: top;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  margin-left: 3%;
  display: inline-block;
  width: 25%;
}

#photo3 {
  width: 100%;
}

.right {
  vertical-align: top;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  margin-left: 2%;
  display: inline-block;
  width: 34%;
}

#SideBar {
  background-color: #eeeeee;
  padding-top: 8px;
}

#SideBarHeader {
  text-align: center;
}

.SideBarPar {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
}

.footer {
  display: block;
  overflow: hidden;
  background-color: #000000;
  margin: 0 auto;
  width: 100%;
  height: auto;
  text-align: center;
}

.footer-links a,span {
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 10px;
  color: #aaaaaa;
  padding: 20px 14px;
}

.footer-links a:hover {
  color: #d1de44;
}

@media only screen and (max-width: 1000px) {
  .head-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-left: 5%;
    width: 35%;
  }

  #logo {
    width: 100%;
  }

  .head-button {
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-left: 40%;
    width: 15%;
  }

  #button {
    width: 100%;
  }

  .full-nav-bar {
    height: 2px;
  }

  .nav-link {
    display: none;
  }

  .left {
    vertical-align: top;
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 5%;
    display: block;
    width: 90%;
    direction: rtl;
  }

  .Section-picture {
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 45%;
  }

  #photo2 {
    width: 100%;
  }

  .Section-par {
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-right: 5%;
    width: 45%;
  }

  .Section-par h1 {
    text-align: center;
  }

  .Section-par p {
    text-align: left;
  }

  .mid {
    vertical-align: top;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    margin-left: 5%;
    display: block;
    width: 90%;
    direction: rtl;
  }

  #photo3 {
    width: 100%;
  }

  .right {
    vertical-align: top;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    margin-left: 2%;
    display: inline-block;
    width: 90%;
  }

  .footer {
    height: 30px;
  }

  .footer-links {
    display: none;
  }
}
